<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>贝化值系统</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/bootstarp.css" rel='stylesheet' type='text/css'/>
    <link href="/css/bood.css" rel='stylesheet' type='text/css'/>
    <link href="/css/main.css" rel='stylesheet' type='text/css'/>
    <meta http-equiv="keywords" content="战斗吧歌姬,伊莎贝拉,后援会">
    <meta http-equiv="description" content="战斗吧歌姬伊莎贝拉后援会应援激励系统">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="row">
            <div class="col-xs-3">
                <a href="/account/space">
                    <img src="/images/icon/home.png">
                </a>
            </div>
            <div class="col-xs-6">
                明细查询
            </div>
            <div class="col-xs-3">
                <img src="/images/icon/menu.png" id="in" class="menu">
            </div>
        </div>
        <div id="div1" class="navbar-hidden"><a
                href="/shop/prize">兑换屋</a></div>
        <div id="div7" class="navbar-hidden"><a
                href="/account/logout">退出登录</a></div>
    </div>

    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
        <h5 th:if="${#lists.isEmpty(pointlogList)}">这里空空如也，快去二创和参加活动积累贝化值吧！！</h5>
        <div class="details" th:each="pointlog:${pointlogList}">

            <h4 class="isnum" th:if="${pointlog.operate_type} == '0'" th:text="'-' + ${pointlog.operate_point}">
                800</h4>
            <h4 class="isnum" th:if="${pointlog.operate_type} == '1'" th:text="'+' + ${pointlog.operate_point}">
                800</h4>
            <h4 class="isnum" th:if="${pointlog.operate_type} == '2'" th:text="'-' + ${pointlog.operate_point}">
                800</h4>
            <h4 class="isnum" th:if="${pointlog.operate_type} == '3'" th:text="'-' + ${pointlog.operate_point}">
                800</h4>
            <div class="isReason" th:text="${pointlog.description}">
                条目描述
            </div>
            <div class="isdata" th:text="${pointlog.operate_date}">日期</div>
            <a style="color: #78797C" th:if="${pointlog.img ne '' && pointlog.forum_id eq 0}" th:href="@{/point/show_pic(name=${pointlog.img})}">▶ look </a>
            <a style="color: #78797C" th:if="${pointlog.forum_id ne 0}" th:href="@{/point/show_forum(id=${pointlog.forum_id})}">▶ look </a>
        </div>

    </div>
    <div class="col-lg-4">
    </div>
</div>
</body>
<script language="javascript">
    //防止页面后退
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });
</script>
<script src="/js/jQuery.js"></script>
<script src="/js/main.js"></script>
</html>