<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>贝化值帮助</title>
    <link href="/css/style.css" rel='stylesheet' type='text/css'/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta http-equiv="keywords" content="战斗吧歌姬,伊莎贝拉,后援会">
    <meta http-equiv="description" content="战斗吧歌姬伊莎贝拉后援会应援激励系统">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <!--webfonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <!--//webfonts-->
</head>

<body>
<h1>ReVdol!伊莎贝拉后援会</h1>
<div class="app-location">
    <h2 style="color: black">贝化值详细规则</h2>
    <div class="location">
        <p><img src="/images/贝化值1.jpg"></p>
        <p><img src="/images/贝化值2.jpg"></p>
        <p>Q.我应该怎样加入这个体系？</p>
        <p>A.只要小程序内贝拉的总贡献值达到1000以上，发截图给管理员即可登记完成，即算加入该体系</p>
        <p>Q.贝化值只有通过二创才可以获得吗？</p>
        <p>A.不是哦！任何形式的活动都可以积累贝化值，参与即可获得。还不快多多关注活动！为贝拉应援啦！</p>
        <p>Q.二创我已经发啦，怎样获得贝化值呢？</p>
        <p>A.已经登记的同学将该二创战姬众（仅限贝拉）截图发给管理员即可，视频建议附上网址</p>
        <p>Q.我的贝化值怎样保存？保存在哪里？</p>
        <p>A.后援会已经建立了每一位参与者的详细数据库，你的贝化值保存在数据库内，以后会上线贝化值在线查询功能，请关注后援会后续通知</p>
        <p>Q.真的可以兑换奖品吗？</p>
        <p>A.是的，只要贝化值达到奖池规定的数量，即可申请兑换对应奖品，后援会会定期进行奖品的发放，大家快参与活动和二创，攒贝化值哦！听说5w点那个是贝拉直签呢</p>

        <h5>关于贝化值的补充说明</h5>
        <p>1.关于有人反应同人文同人图分值太低的问题</p>
        <p>先做出以下补充说明</p>
        <p>二创贝化值兑换表上的【基础分值】是防止有朋友水作品换分值，靠水的难易度而定的基础分值。</p>
        <p>【优秀作品】分值则是我们群管根据作品的质量额外加的优秀分值。</p>
        <p>比如同人图，提交线稿，是100基础分</p>
        <p>单图层上色（除厚涂）是100+100=200分</p>
        <p>上色了厚涂或多图层则是100+300=400，若作品在透视构图等技术方面很优秀，则加300～600分不等。</p>
        <p>同人文方面是鼓励大家高产，所以对连载文章分值较高。</p>
        <p>若单篇文章，则是100基础分，故事剧情0～100分，文笔0～100分，文章立意0～100分。</p>
        <p>也就是单篇文章可以获得100～400分不等。</p>
        <p>优秀作品分值有+号的，则说明优秀作品和基础分值不会叠加，质量高的作品由群管评选直接是【优秀作品】的分值。</p>
        <p>也就是说 提交视频的普通作品加350分，群管会选几个优秀作品，给加300～800不等的分值。</p>
        <p>还有什么疑问请咨询群管～</p>
        <p>更多周边等待你们的兑换～</p>
        <p><img src="/images/值班表.jpg"></p>
    </div>


    <div class="new">
        <h3><a href="/account/space">返回</a></h3>
        <div class="clear"></div>
    </div>
</div>
<!--start-copyright-->
<div class="copy-right">
    <p>Copyright &copy; 2019. <a id="jsl_speed_stat1" href="http://www.yunaq.com/#zid=5ccbb24645475e17f0e7d3a0" target="_blank">知道创宇云安全，腾讯爸爸特许，护我贝拉安全</a> <script src="//static.yunaq.com/static/js/stat/picture1_stat.js" charset="utf-8" type="text/javascript"></script></p>

    <p>QQ-Group <a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5bMYdRg"> 伊莎贝拉后援会🌟 </a></p>
    <p>BiliBili <a target="_blank" href="https://space.bilibili.com/2315820/"> 伊莎贝拉粉丝应援会 </a></p>
    <p>All rights ReVdol! check here <a href="http://www.revdol.com/" target="_blank" title="revdol!">revdol!</a></p>
</div>
<!--//end-copyright-->
</body>
</html>