<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我的贝化值</title>
    <link href="/css/style.css" rel='stylesheet' type='text/css'/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta http-equiv="keywords" content="战斗吧歌姬,伊莎贝拉,后援会">
    <meta http-equiv="description" content="战斗吧歌姬伊莎贝拉后援会应援激励系统">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <!--webfonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <!--//webfonts-->
</head>

<script>
    function notes() {
        alert("此QQ号可能没有进行门槛登记，请联系群管理员！贝拉总贡献值超过1000，发截图给群管理员即可登记审核完成");
    }
</script>

<body>
<h1>ReVdol!伊莎贝拉后援会</h1>
<div class="app-location">
    <h2 style="color: black">我的贝化值</h2>
    <div class="location">
        <h1 style="font-weight:bold;color: black" th:text="${account.point}">0</h1>
        <h3 style="font-weight:bold;color: red" th:if="${account.state} == '0'" onclick="return notes()">账号状态：待审核</h3>
        <h3 style="font-weight:bold;color: green" th:if="${account.state} == '1'">账号状态：正常</h3>
    </div>

    <h3>后续将开放贝化值明细查询</h3>

    <div class="location">
    <h3><a href="/point/explain">查看贝化值详细规则</a></h3>

    </div>


    <div class="new">
        <h3><a href="/account/password">修改查询密码</a></h3>
        <h4><a href="/account/info">完善个人信息</a></h4>
        <div class="clear"></div>
    </div>
</div>
<!--start-copyright-->
<div class="copy-right">
    <p>Copyright &copy; 2019. <a id="jsl_speed_stat1" href="http://www.yunaq.com/#zid=5ccbb24645475e17f0e7d3a0" target="_blank">知道创宇云安全，腾讯爸爸特许，护我贝拉安全</a> <script src="//static.yunaq.com/static/js/stat/picture1_stat.js" charset="utf-8" type="text/javascript"></script></p>

    <p>QQ-Group <a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5bMYdRg"> 伊莎贝拉后援会🌟 </a></p>
    <p>BiliBili <a target="_blank" href="https://space.bilibili.com/2315820/"> 伊莎贝拉粉丝应援会 </a></p>
    <p>All rights ReVdol! check here <a href="http://www.revdol.com/" target="_blank" title="revdol!">revdol!</a></p>
</div>
<!--//end-copyright-->
</body>
</html>