<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/bootstarp.css" rel='stylesheet' type='text/css'/>
    <link href="/css/bood.css" rel='stylesheet' type='text/css'/>
    <link href="/css/main.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

    <meta http-equiv="keywords" content="战斗吧歌姬,伊莎贝拉,后援会">
    <meta http-equiv="description" content="战斗吧歌姬伊莎贝拉后援会应援激励系统">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="row">
            <div class="col-xs-3">
                <a href="/account/space">
                    <img src="/images/icon/home.png">
                </a>
            </div>
            <div class="col-xs-6">
                个人信息
            </div>
            <div class="col-xs-3">
                <img src="/images/icon/menu.png" id="in" class="menu">
            </div>
        </div>
        <div id="div6" class="navbar-hidden"><a
                href="/account/password">修改密码</a></div>
        <div id="div7" class="navbar-hidden"><a
                href="/account/logout">退出登录</a></div>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">

        <div class="container container-small">
            <form id="SetupForm" method="post" action="/account/info">
                <div class="form-group">
                    <label>QQ群名片/昵称</label>
                    <input th:value="${account.name}" id="name" name="name" type="text" class="form-control" placeholder="这位老铁怎么称呼？">
                </div>
                <div class="form-group">
                    <label>小程序昵称</label>
                    <input th:value="${account.xcxname}" id="xcxname" name="xcxname" type="text" class="form-control" placeholder="请正确填写，用于验证二创投稿">
                </div>
                <div class="form-group">
                    <label for="xcxuid">小程序战姬众号(UID)</label>
                    <input th:value="${account.xcxuid}" id="xcxuid" name="xcxuid" type="text" class="form-control" placeholder="就是要你id，查你水表">
                </div>
                <div class="form-group">
                    <label for="bilibili">B站UID</label>
                    <input th:value="${account.bilibili}" id="bilibili" name="bilibili" type="text" class="form-control" placeholder="便于视频类投稿和b博抽奖找人">
                </div>
                <div class="form-group">
                    <label>*邮寄地址及联系方式</label>
                    <textarea placeholder="请正确填写您要邮递奖品到的地址，姓名及手机号码，为了确保您的信息不会被泄露，【已填写】的信息将【不会在此处显示】，如需修改请重新填写即可" name="address" class="form-control areastyle" rows="6" maxlength="255"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">确认</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</div>
</body>
<script language="javascript">
    //防止页面后退
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });
</script>
<script src="/js/jQuery.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script type="text/javascript" src="/js/check.js"></script>
<script src="/js/main.js"></script>
</html>