<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.isabella.revdol.persistence.OrderMapper">

    <insert id="insertOrder" parameterType="org.isabella.revdol.domin.Order">
          INSERT INTO `order` (qq_id,prize_id,prize_name,number,point,address,state,date) VALUES (#{qq_id},#{prize_id},#{prize_name},#{number},#{point},#{address},0,current_timestamp);
    </insert>

</mapper>