<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.isabella.revdol.persistence.PointMapper">

    <select id="getPointlogListByQq" parameterType="string" resultType="org.isabella.revdol.domin.Pointlog">
        SELECT pointlog.operated_qq_id AS operated_qq_id,pointlog.operate_type AS operate_type ,pointlog.operate_point AS operate_point, pointlog.description AS description ,pointlog.operate_date AS operate_date ,pointlog.img AS img FROM pointlog WHERE pointlog.operated_qq_id = #{qq} AND pointlog.state = 1 ORDER BY operate_date DESC;
    </select>

    <insert id="insertPointlog" parameterType="org.isabella.revdol.domin.Pointlog">
        INSERT INTO pointlog (state,operated_qq_id,operate_type,operate_point,description,operate_date,operator_id) VALUES (#{state},#{operated_qq_id},#{operate_type},#{operate_point},#{description},current_timestamp,11)
    </insert>

</mapper>