<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.isabella.revdol.persistence.PrizeMapper">

    <select id="getPrizeList" resultType="org.isabella.revdol.domin.Prize">
        SELECT prize.id AS id, prize.prize_no AS prize_no ,prize.prize_name AS prize_name, prize.point AS point, prize.img AS img, prize.description AS description, prize.quantity AS quantity, prize.publish AS state, prize.level AS level FROM prize ORDER BY point ASC;
    </select>

    <select id="getPrize" parameterType="string" resultType="org.isabella.revdol.domin.Prize">
        SELECT prize.id AS id, prize.prize_no AS prize_no ,prize.prize_name AS prize_name, prize.point AS point, prize.img AS img, prize.description AS description, prize.quantity AS quantity, prize.publish AS state, prize.level AS level FROM prize WHERE prize.id = #{id};
    </select>

    <update id="updatePrize" parameterType="org.isabella.revdol.domin.Prize">
        UPDATE prize SET prize.quantity = #{quantity} WHERE prize.id = #{id};
    </update>

</mapper>