<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>奖品详情</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/bootstarp.css" rel='stylesheet' type='text/css'/>
    <link href="/css/bood.css" rel='stylesheet' type='text/css'/>
    <link href="/css/main.css" rel='stylesheet' type='text/css'/>
    <meta http-equiv="keywords" content="战斗吧歌姬,伊莎贝拉,后援会">
    <meta http-equiv="description" content="战斗吧歌姬伊莎贝拉后援会应援激励系统">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="row">
            <div class="col-xs-3">
                <a href="/shop/prize">
                    <img src="/images/icon/back.png">
                </a>
            </div>
            <div class="col-xs-6">
                康康奖品
            </div>
            <div class="col-xs-3">
                <img src="/images/icon/menu.png" id="in" class="menu">
            </div>
        </div>
        <div id="div1" class="navbar-hidden"><a
                href="/account/space">回到主页</a></div>
        <div id="div2" class="navbar-hidden"><a
                href="/point/details">贝化值明细</a></div>
        <div id="div3" class="navbar-hidden"><a
                href="/notice/notice">系统公告</a></div>
        <div id="div4" class="navbar-hidden"><a
                href="/account/info">个人信息</a></div>
        <div id="div5" class="navbar-hidden"><a
                href="/notice/talk">意见反馈</a></div>
        <div id="div6" class="navbar-hidden"><a
                href="/account/password">修改密码</a></div>
        <div id="div7" class="navbar-hidden"><a
                href="/account/logout">退出登录</a></div>
    </div>


    <div class="col-lg-4">
    </div>


    <div class="col-lg-4">

        <div class="goods-img">
            <img class="prize_img" th:src="'/out_images/'+${prize.img}">
        </div>
        <h4 th:text="${prize.prize_name}">商品详情</h4>
        <h5 th:text="'奖品编号:' + ${prize.prize_no}">商品详情</h5>
        <div class="details" th:utext="${prize.description}">
            这个商品由谁谁谁提供，大小多少，形状几何，颜色怎么样。
        </div>
        <div class="price" id="price" th:text="${prize.point}">1000</div>
        <div th:if="${prize.state} == 1" class="form-group">
            <a th:href="@{/shop/confirm(id=${prize.id})}"><button class="btn btn-primary btn-block">兑换</button></a>
        </div>

        <div th:unless="${prize.state} == 1" class="form-group">
            <button class="btn btn-block" disabled="disabled">暂时无法兑换</button>
        </div>

    </div>


    <div class="col-lg-4">
    </div>
</div>
</body>
<script language="javascript">
    //防止页面后退
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });
</script>
<script src="/js/jQuery.js"></script>
<script src="/js/main.js"></script>
</html>